 <!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
<head>
<title>JD</title>
</head>
<body>
<h1>Josué Daniel Díaz Avalos</h1>
<h2>About me</h2>
I was born in Peru.
<br>
<br>
Graduate in Scientific Computing
<br>
National Univesity Mayor de San Marcos, Perú
<br>
<br>
Master in Applied Mathematics
<br>
University of Sao Paulo, Brasil

<h2>Research</h2>
<p>Mathematical Analysis <a href="https://www.w3schools.com">PDF</a><p>
<p>Mathematical Analysis <a href="https://www.w3schools.com">PDF</a><p>
<p>Mathematical Analysis <a href="https://www.w3schools.com">PDF</a><p>

<h2>Contact</h2>
josuediazavalos@gmail.com, josueda@ime.usp.br
</body>
</html> 