{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}  
<div class="main" >
                    	<img src="{% static 'img/1.jpg' %}" height="40%" />
                        <h2>Sobre mi</h2>
                        <p>Nací en Lima, capital de Perú. Crecí en un barrio del distrito de San Martín de Porres.
                        Estudie Computación Científica en la Facultad de Matemáticas de la Universidad Nacional Mayor de San Marcos. Trabajé algunos años para el sector privado y el estado. ¡Ya defendí mi tesis!
                        </p>
                        <h2>Áreas de Interés</h2>
                        <p>
                        <ul>
                        <li>Ordinary Differential Equations</li>
                        <li>Graph Theory</li>
                        <li>Population Dynamics</li>
                        <li>Predator-Prey Models</li>                        
                        <li>Epidemiología</li>
                        <li>Ecology</li>
                        <li>Numerical Methods</li>
                        <li>Linear Algebra</li>                                               
                        </ul>                       
                        </p>
                        <h2>Lenguajes de Programación (preferidos)</h2>
                        <p>Python definitavamente. El Zen de Python me ha convencido!<br>
                        R es muy genial porque hace casi todo sin muchas complicaciones, sobre todo con RStudio; además a mis amigos estadísticos les cae muy bien!<br>
                        Y por último, si sabes programar en C++, podrás programar en todo.
                        </p>
                        <h2>Tesis</h2>
                        <p>Mi tesis se titula: Análisis Matemático de la Interacción Depredador-Presa en un Medio Acuático Contaminado.</p>
                        <h2>Posts</h2>
                        {% for post in posts %}            
                            <a href="{% url 'blog.views.post_detail' pk=post.pk %}">{{ post.title }}</a>
                            <br>
                        {% endfor %}
                        <h2>Fotos</h2>
                        <img src="{% static 'mypics/1.jpg' %}" height="40%" />                        
                        <img src="{% static 'mypics/2.jpg' %}" height="40%" />
                        <img src="{% static 'mypics/3.jpg' %}" height="40%" />
                        <h2>Contacto</h2>
                        <p>Para cualquier consulta o comentario (o si te puedo ayudar en algo relacionado a la matemática y la computación) puedes escribirme a josuediazavalos@gmail.com</p>
</div>                
{% endblock content %}