<html>
        <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <title>Django Girls blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Josué Díaz</a></h1>
            </div>



            <div>
                <h2><a href="">Hola Mundo</a></h2>
                <p>Hola Mundo</p>
            </div>
        </body>
    </html>