{% load staticfiles %}
<html>
        <head>
            <title>JD26</title>

        <meta property="og:url"           content="http://jd26.pythonanywhere.com/" />
		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="JD26 Personal" />
		<meta property="og:description"   content="Nunca dejamos de soñar, nunca de dejamos de aprender."/>
		<meta property="og:image"         content="{% static 'img/1.jpg' %}" />    
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
        
        
        
        </head>
        <body>
        	<div id="fb-root"></div>
			<script>(function(d, s, id) {
  			var js, fjs = d.getElementsByTagName(s)[0];
  			if (d.getElementById(id)) return;
  			js = d.createElement(s); js.id = id;
  			js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.6";
  			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			</script>
            <div class="page-header">
                <h1>Josué Díaz Avalos</h1>
            </div>


        <div class="content container">
            <div class="row">
                <div class="col-md-8">    
                    <div class="post" >
                    	<img src="{% static 'img/1.jpg' %}" height="50%" />
                        <h2>Sobre mi</h2>
                        <p>Nací en Lima, capital de Perú. Crecí en un barrio del distrito de San Martín de Porres.
                        Estudie Computación Científica en la Facultad de Matemáticas de la Universidad Nacional Mayor de San Marcos. Trabajé algunos años para el sector privado y el estado. Actualmente estoy finalizando mi tesis.
                        </p>
                        <h2>Áreas de Interés</h2>
                        <p>
                        <ul>
                        <li>Ecuaciones Diferenciales Ordinarias</li>
                        <li>Teoría de Grafos</li>
                        <li>Dinámica de Poblaciones</li>
                        <li>Modelos Depredador-Presa</li>
                        <li>Ecuaciones Diferenciales Estocásticas</li>
                        <li>Epidemiología</li>
                        <li>Ecología</li>
                        <li>Métodos Numéricos</li>
                        <li>Álgebra Lineal</li> 
                        <li>Dinámica de Fluidos Computacional</li>                        
                        </ul>                       
                        </p>
                        <h2>Lenguajes de Programación (preferidos)</h2>
                        <p>Python y sus librerías wxPython, Tkinker, matplotlib y numpy. El Zen de Python me ha convencido!<br>
                        R es muy genial porque hace casi todo sin muchas complicaciones, sobre todo con RStudio; además a mis amigos estadísticos les cae muy bien!<br>
                        Y por último, si sabes programar en C++, podrás programar en todo.
                        </p>
                        <h2>Tesis</h2>
                        <p>Mi tesis se titula: Análisis Matemático de la Interacción Depredador-Presa en un Medio Acuático Contaminado.</p>
                    </div>
                    <div class="fb-share-button" data-href="http://jd26.pythonanywhere.com/" data-layout="button" data-mobile-iframe="true"></div>
                    <div>
                    	<br>
                    	<br>
                    	<br>
                    	<br>
                    </div>
                </div>
            </div>
        </div>
        </body>
    </html>