    .page-header {
        background-color: #E6E6E6;
        margin-top: 0;
        padding: 20px 20px 20px 60px;
    }

    .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #424242;
        font-size: 36pt;
        text-decoration: none;        
    }

    .content {
        margin-left: 40px;
    }

    .main h2, .post h2, .page-header h1 {
        font-family: 'Bad Script', cursive;
        color: #424242;
    }

    .date {
        float: right;
        color: #828282;
    }

    .save {
        float: right;
    }

    .main, .post {
        margin-bottom: 70px;
    }

    a {
        color: #424242;
    }
